<div class="row" *ngIf="selectedClient">
  <div class="col-4">
  <div>
     <img src={{selectedClient.general.avatar}}></div>
  </div>
  <div class="col-8">
  <h1>{{selectedClient.general.firstName}}  {{selectedClient.general.lastName}}</h1><hr>

    <div>
    <h5>company:</h5>  {{selectedClient.job.company}}
  </div>
    <br>
    <div>
      <h5>title:</h5> {{selectedClient.job.title}}
  </div>
<br>
  <div>
    <h5>phone:</h5> {{selectedClient.contact.phone}}
  </div>
<br>
  <div>
     <h5>email:</h5> {{selectedClient.contact.email}}
  </div>
<br>
  <div>
    <h5>city:</h5> {{selectedClient.address.city}}
  </div>
    <br>
    <div>
     <h5>country:</h5> {{selectedClient.address.country}}
    </div>
    <br>
    <div>
      <h5>street:</h5> {{selectedClient.address.street}}
    </div>
    <br>
    <div>
     <h5>zipCode:</h5> {{selectedClient.address.zipCode}}
  </div>
  </div>
</div>
